Witaj świecie
{% if app.user %}
   jesteś zalogowany, <a href="{{ path('fos_user_security_logout') }}">wyloguj się</a><br>
{% else %}
    nie jesteś zalogowany, <a href="{{  path('fos_user_security_login') }}">zaloguj się</a>
{% endif %}